<section class="h-full">
	<p-splitter [panelSizes]="[25, 75]">
		<ng-template #panel>
			<div class="flex flex-col w-full">
				<div class="px-4 py-8 h-32">
					<div class="flex gap-x-2 items-end">
						<h2 class="text-2xl font-bold">Notas</h2>
						<p-badge
							[value]="recentNotes.length"
							badgeSize="small"
						/>
					</div>
					<div class="flex justify-end">
						<div>
							<p-menu
								#menuSort
								[model]="sortItems"
								[popup]="true"
							/>
							<p-button
								[text]="true"
								(click)="menuSort.toggle($event)"
								icon="pi pi-sort-amount-down"
								pTooltip="Opciones de clasificacion"
								tooltipStyleClass="text-sm"
							/>
						</div>
					</div>
				</div>
				<p-scroll-panel
					[style]="{ width: '100%', height: 'calc(100vh - 100px)' }"
				>
					@for(note of recentNotes; track note.id) {
					<div
						class="flex flex-col gap-y-4 py-8 px-6 border-b rounded-xl overflow-hidden cursor-pointer"
						[ngClass]="
							darkMode.getDarkMode()
								? selected == note.id
									? 'bg-slate-700 '
									: 'hover:bg-slate-700'
								: selected == note.id
								? 'bg-slate-200'
								: 'hover:bg-slate-200'
						"
						(click)="changeSelection(note.id)"
					>
						<h3 class="text-xl font-bold">{{ note.title }}</h3>
						<p class="text-lg line-clamp-2">
							{{ note.content }}
						</p>
						<p class="font-extralight text-sm">
							{{ note.updated }}
						</p>
					</div>

					}
				</p-scroll-panel>
			</div>
		</ng-template>
		<ng-template #panel>
			<div class="flex flex-col h-full w-full">
				<div class="card flex justify-between py-1">
					<p-breadcrumb [model]="breadcrumbItems" />

					<div>
						<p-menu #menu [model]="menuItems" [popup]="true" />
						<p-button
							[text]="true"
							(click)="menu.toggle($event)"
							icon="pi pi-ellipsis-h"
							pTooltip="Mas opciones"
							tooltipStyleClass="text-sm"
						/>
					</div>
				</div>
				<div class="py-4">
					<p-floatlabel variant="on">
						<input
							pInputText
							id="titulo"
							[(ngModel)]="title"
							autocomplete="off"
							class="h-12 text-lg px-4 w-full border-2 rounded-md"
						/>
						<label for="titulo">Titulo</label>
					</p-floatlabel>
				</div>
				<div class="flex-1">
					<p-editor
						[(ngModel)]="content"
						[style]="{ height: 'calc(100vh - 180px)' }"
					/>
				</div>
				<div>
					<p-divider />
					<div></div>
				</div>
			</div>
		</ng-template>
	</p-splitter>
</section>
