<section class="h-full">
	<p-splitter [panelSizes]="[20, 80]">
		<ng-template #panel>
			<div class="flex flex-col">
				<div class="px-4 py-4 h-32">
					<div class="flex gap-x-2 items-end">
						<h2 class="text-2xl font-bold">Notas</h2>
						<p-badge [value]="recentNotes.length" badgeSize="small" />
					</div>
					<div class="flex justify-end">
						<div>
							<p-menu
								#menuSort
								[model]="sortItems"
								[popup]="true"
							/>
							<p-button
								[text]="true"
								(click)="menuSort.toggle($event)"
								icon="pi pi-sort-amount-down"
								pTooltip="Opciones de clasificacion"
								tooltipStyleClass="text-sm"
							/>
						</div>
					</div>
				</div>
				<p-scroll-panel
					[style]="{ width: '100%', height: 'calc(100vh - 130px)' }"
				>
					@for(note of recentNotes; track note.id) {
					<p-card
						styleClass="overflow-hidden border-b cursor-pointer"
						(onclick)="changeSelection(note.id)"
					>
						<ng-template #title> {{ note.title }} </ng-template>
						<p class="text-sm">
							{{ note.content }}
						</p>
						<ng-template #footer>
							<p class="font-extralight text-[12px]">
								{{ note.date }}
							</p>
						</ng-template>
					</p-card>

					}
				</p-scroll-panel>
			</div>
		</ng-template>
		<ng-template #panel>
			<div class="flex flex-col h-full w-full gap-8">
				<div class="card flex justify-between">
					<p-breadcrumb [model]="breadcrumbItems" />

					<div>
						<p-menu #menu [model]="menuItems" [popup]="true" />
						<p-button
							[text]="true"
							(click)="menu.toggle($event)"
							icon="pi pi-ellipsis-h"
							pTooltip="Mas opciones"
							tooltipStyleClass="text-sm"
						/>
					</div>
				</div>
				<div class="flex-1">
					<app-editor />
				</div>
				<p-divider />
				<div></div>
			</div>
		</ng-template>
	</p-splitter>
</section>
