<section class="h-full">
	<p-panel header="Libretas" styleClass="text-2xl h-full">
		<div class="card">
			<p-table
				#dt1
				[value]="books"
				[globalFilterFields]="['title', 'updated', 'created']"
				selectionMode="single"
				dataKey="id"
				[tableStyle]="{ 'min-width': '50rem' }"
				[rows]="5"
				[paginator]="true"
				stateStorage="session"
				stateKey="statedemo-session"
			>
				<ng-template #caption>
					<div class="flex">
						<p-button
							label="Nueva Libreta"
							icon="pi pi-plus"
							class="mr-2"
							(onClick)="openNew()"
						/>
						<p-iconfield iconPosition="left">
							<p-inputicon>
								<i class="pi pi-search"></i>
							</p-inputicon>
							<input
								pInputText
								type="text"
								placeholder="Search"
							/>
						</p-iconfield>
					</div>
				</ng-template>
				<ng-template #header>
					<tr>
						<th style="width: 5rem"></th>
						<th pSortableColumn="title" style="width: 25%">
							<div class="flex items-center gap-2">
								Titulo
								<p-sortIcon field="name" />
							</div>
						</th>
						<th pSortableColumn="updated" style="width: 25%">
							<div class="flex items-center gap-2">
								Actualizado
								<p-sortIcon field="name" />
							</div>
						</th>
						<th pSortableColumn="created" style="width: 25%">
							<div class="flex items-center gap-2">
								Creado
								<p-sortIcon field="name" />
							</div>
						</th>
						<th style="width: 25%">Acciones</th>
					</tr>
				</ng-template>
				<ng-template #body let-book let-expanded="expanded">
					<tr>
						<td>
							<p-button
								type="button"
								pRipple
								[pRowToggler]="book"
								[text]="true"
								severity="secondary"
								[rounded]="true"
								[icon]="
									expanded
										? 'pi pi-chevron-down'
										: 'pi pi-chevron-right'
								"
							/>
						</td>
						<td>{{ book.title }}</td>
						<td>{{ book.updated }}</td>
						<td>{{ book.created }}</td>
						<td>
							<p-button
								icon="pi pi-pencil"
								class="mr-2"
								[rounded]="true"
								[outlined]="true"
								(click)="editLibreta()"
							/>
							<p-button
								icon="pi pi-trash"
								severity="danger"
								[rounded]="true"
								[outlined]="true"
								(click)="deleteLibreta()"
							/>
						</td>
					</tr>
				</ng-template>
				<ng-template #expandedrow let-book>
					<tr>
						<td colspan="7">
							<div class="p-4">
								<h5>Notes de {{ book.title }}</h5>
								<p-table [value]="book.notes!" dataKey="id">
									<ng-template #header>
										<tr>
											<th pSortableColumn="title">
												<div
													class="flex items-center gap-2"
												>
													Titulo
													<p-sortIcon
														field="title"
													/>
												</div>
											</th>
											<th pSortableColumn="updated">
												<div
													class="flex items-center gap-2"
												>
													Actualizado
													<p-sortIcon
														field="updated"
													/>
												</div>
											</th>
											<th pSortableColumn="created">
												<div
													class="flex items-center gap-2"
												>
													Creado
													<p-sortIcon
														field="created"
													/>
												</div>
											</th>
											<th>Acciones</th>
											<th style="width: 4rem"></th>
										</tr>
									</ng-template>
									<ng-template #body let-note>
										<tr>
											<td>{{ note.title }}</td>
											<td>{{ note.created }}</td>
											<td>{{ note.updated }}</td>
											<td></td>
										</tr>
									</ng-template>
									<ng-template #emptymessage>
										<tr>
											<td colspan="6">NO HAY LIBRETAS</td>
										</tr>
									</ng-template>
								</p-table>
							</div>
						</td>
					</tr>
				</ng-template>
			</p-table>
			<p-dialog
				[(visible)]="libretaDialog"
				[style]="{ width: '450px' }"
				header="Libreta"
				[modal]="true"
			>
				<ng-template #content>
					<div class="flex flex-col gap-6">
						<div>
							<label for="name" class="block font-bold mb-3"
								>Titulo</label
							>
							<input
								type="text"
								pInputText
								id="name"
								required
								autofocus
								fluid
							/>
							<small class="text-red-500"
								>Titulo es requerido.</small
							>
						</div>
					</div>
				</ng-template>

				<ng-template #footer>
					<p-button
						label="Cancel"
						icon="pi pi-times"
						text
						(click)="hideDialog()"
					/>
					<p-button label="Save" icon="pi pi-check" />
				</ng-template>
			</p-dialog>

			<p-confirmDialog [style]="{ width: '450px' }" />
		</div>
	</p-panel>
</section>
